.latest_data {
    background-color: rgba(13, 2, 82, 0.834);
    width: 90%;
    max-width: 300px;
    margin: -35% 20px;
    padding: 20px;
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position:absolute;
}

.latest_data h2 {
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .latest_data {
        width: 45%;
        max-width: none;
    }
}

@media (min-width: 900px) {
    .latest_data {
        width: 30%;
    }
}
