*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
.navbar{
    background-color:rgba(13, 2, 82, 0.834);
    height: 80px;
    color: aliceblue;
  }
  .titel{
    padding-top: 18px;
    padding-left: 10px;
  }