
  .login-signup-container {
    padding: 10vh 0px;
  }
  .container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.56);
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
  }

  @media screen and (max-width: 850px) {
    .container {
      display: block; /* Show the element on small screens */
    }
  }
  
  .left, .right {
    width: 50%;
    display: flex;
    box-sizing: border-box;
    padding: 50px 0px;
    text-align: center;
    padding: 25vh 0px;
  }
  
  .left {
    background-color: #fff;
    flex-direction: column; /* Ensure items stack vertically */
    
  }
  
  .right {
    background: rgba(25, 25, 113, 0.933);
    color: white;
    flex-direction: column;
    padding: 30vh 0px;
  }

  @media screen and (max-width: 850px) {
    .left, .right {
      display: block; /* Show the element on small screens */
      width: 100%;
      padding: 5vh 0px;
    }
  }
 