body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  .container {
    width: 1000px;
    height: 600px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.56);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .left, .right {
    width: 50%;
    display: flex;
    box-sizing: border-box;
  }
  
  .left {
    background-color: #fff;
    flex-direction: column; /* Ensure items stack vertically */
  }
  
  .right {
    background: rgba(25, 25, 113, 0.933);
    color: white;
    flex-direction: column;
  }
 